<!DOCTYPE html>
<html lang ="us">
    <head>
        <title>Majors Database</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../css/foundation.css"/>
    </head>


    <body style="background-color: bisque;">
        <h2 style="color:blue; font-weight:bold"> <a href="../index.html"> Return Home </a> </h2><br>

        <p style="font-family:Times;"> Please enter a major category you'd like to look at*: </p>
            <input type="text" id="target" placeholder="Enter a category">
            <input type="button" id="btn1" value="Search">
            
   
            <script>
                const btn1 = document.getElementById("btn1");
                const txt1 = document.getElementById("target");

                function clicked(){
                    const value = txt1.value;
                    const formatted = value.charAt(0).toUpperCase()+ value.slice(1).toLowerCase();
                    if(value==""){
                        alert("Enter valid category")
                    }else {

                    window.location="/major_category/"+value;

                    } 
                }
                btn1.addEventListener('click',clicked);
    
            </script>
        

            <!--  <img src="$$image.img$$" alt="picture" />    replace with url of image -->
       <br>
        <h1> $$MAJOR_CATEGORY$$ </h1>
        <table>
            <thead>
                <tr>
                    <th> Major Name &nbsp   </th>
                    <th> Major Code  &nbsp  </th>
                    <th> Employed  &nbsp   </th>
                    <th> Unemployed  &nbsp </th>
                    <th> College Jobs  &nbsp  </th>
                    <th> Non-College Jobs &nbsp   </th>
                </tr>

            </thead>
            <tbody>
                $$TABLE_BODY$$
            </tbody>        
        </table>

        <br><br><br><br>

        <table style="border-style: dashed">
        <p > *Some major categories include: </p>
        <ul>
            <li> Health </li>
            <li> Business </li>
            <li> Physical Sciences </li>
            <li> Arts </li>
            <li> CompSci</li>
            <li> Engineering </li>
            <li> Education </li>
            <li> Biology </li>
            
        </ul>
    </table>
        


    </body>
</html>