<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Majors List</title>
	<link rel="stylesheet" href="/css/foundation.css"/>
	<script type="application/javascript" src="/js/jquery-3.6.1.min.js"></script>
	<script type="application/javascript" src="/js/canvasjs-3/jquery.canvasjs.min.js"></script>
</head>

<body style="background-color: darkgray;">
	<div class="off-canvas-wrapper">
		<div class="title-bar-left show-for-medium" style="text-align: center; background-color: #252627;">
			<button class="button" type="button" data-toggle="offCanvasLeft" style="float: left;">
				<span aria-hidden="true" style="color: white; font-size: 1.5rem;">Menu</span>
			</button>
			<hi style="text-align: center; font-size: 3; display: inline-block; margin: auto; width: auto;">College Major List</hi>
		</div>"
	</div>

	<div class="title-bar show-for-small-only">
		<div class="title-bar-top show-for-small-only" style="text-align: center; display: block; margin: auto;">
		<button class="button" type="button" data-toggle="offCanvasTop" style="margin: auto; display: block; width: auto;">
			<span aria-hidden="true" style="color: white; font-size: 1.5rem;">Menu</span>
		</button>
		<ul class="vertical menu">
			<li><a href="/">Home</a></li>
			<li><a href="/college_majors/">College Majors</a></li>
			<li><a href="/all_ages/">All Ages</a></li>
			<li><a href="/grad_students/">Grad Students</a></li>
		</ul>
		</div>

		<div class="off-canvas-position-top show-for-small-only" id="offCanvasTop" data-transition="push" data-off-canvas>
			<button class="button" aria-label="Close menu" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>
			<ul class="horizontal menu">
				<li><a href="/">Home</a></li>
				<li><a href="/college_majors/">College Majors by Category</a></li>
				<li><a href="/all_ages/">College Majors by Median</a></li>
				<li><a href="/grad_students/">Grad Students</a></li>
			</ul>
		</div>
	</div>

	<div class="off-canvas-wrapper">
		<div class="off-canvas-content" data-off-canvas-content>
			<div id="info-container" style="width: 80%; margin: auto;">
				<h1 style="font-size: 40px;">Information about our dataset:</h1>
				<p>This data contains info about College Majors</p>
				<p>Use the menu button to navigate between the pages to see different views on the data.</p>
				<div>
					<table>
						<thead>
							<tr>
								<th>Value</th>
								<the>Definition</the>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<code></code>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
		</div>
	</div>

</body>
</html>
